
$grey0 : #1a1717;
$grey1 : #3a3838;
$grey2 : #5e5d5d;
$grey3 : #a39d9d;
$grey4 : #dad5d5;
$grey5 : #F4F9F9;

$fontStyle1:'Roboto Slab', serif;

*{box-sizing: border-box;
    font-family: $fontStyle1;}